package systemTestingDSL

import systemTestingDSL.matchers._

object SleekTestSuiteUsage {
  def main(args: Array[String]): Unit = {
  	
  	val suite = new SleekTestSuite()

  	##

  	suite.runAllTests
  	suite generateTestStatistics

  }
}